body {
    background-image: url("../images/cover_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    margin-left: 5rem;
}

.title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.customImg {
    border-radius: 20%;
    transform: rotateZ(-10deg);
}

.customLink {
    color: white;
    font-size: 1.15rem;
    margin-right: 1rem;
}

.customLink:hover{
    color: rgb(9, 121, 121);
    font-size: 1.25rem;
    font-weight: bold;
    transition: font-size 1s linear 0.5s;
}

.customLink:active{
    color: red;
    font-weight: bold;
}