{% extends "base.html" %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "base_app/home.css" %}">
{% endblock %}

{% block page_title %}
    Software Giant
{% endblock %}

{% block content %}
    <main>
        <img src="{% static "images/content.png" %}" alt="" class="d-inline-block">
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo illum cumque rem perspiciatis quod perferendis totam incidunt sapiente sequi, similique cum tempora animi dignissimos? Sunt perferendis quaerat labore voluptas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo illum cumque rem perspiciatis quod perferendis totam incidunt sapiente sequi, similique cum tempora animi dignissimos? Sunt perferendis quaerat labore voluptas.
        </article>
    </main>

    <footer>
        
    </footer>
{% endblock %}

