{% extends "base.html" %}
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "base_app/login.css" %}">
{% endblock %}

{% block page_title %}
    Successful
{% endblock %}

{% block content %}
 
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Hurrah! Your email is verified!</h3>
            <div class="card-text text-center">
                Please login
                <a href="{% url "log-in" %}">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}